<!DOCTYPE html>

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>FAD Cornwall - {{page_title}} - {{user_name}}</title>
	<link rel="shortcut icon" type="image/png" href="../images/favicon.png">	
	<link rel="stylesheet" type="text/css" href="../css/general.css">
	<script type="text/javascript" language="javascript" src="../js/general.js" />
</head>

<body class="common_body">

<h1>{{page_title}}</h1>
<h3>Logged in as: {{user_name}} <span><a href=""></a></span></h3>
<div class="page_container">

	<div class="page_nav">
		<ul class="nav_list">
			<li class="{{dashboard_menu_item_class}}"><a href="/dashboard">Dashboard</a></li>
			<li class="{{cabinets_menu_item_class}}"><a href="/cabinets">Cabinet List</a></li>
			<li class="{{guardians_menu_item_class}}"><a href="/guardians">Guardian List</a></li>
		</ul>
	</div>

	<div class="page_body">
	
