<head>

<style>

.button{
	background-color: pink
}

</style>

</head>

<form action="action.php" method="post">

<body>
 <p>ID<input type="text" name="pad_id" /></p>

 <p>Location<input type="text" name="pad_l" /></p>

<p>Postcode<input type="text" name="pad_post" /></p>

<p>Door Status<input type="text" name="pad_door" /></p>

<p>Defib Status<input type="text" name="pad_defib" /></p>


 <p><input type="submit" /></p>
<button type="button" onclick="javascript:window.location.href='../../event/abc'">link button 1</button>
</body>
</form>

