<!DOCTYPE html>
<html>
<head>
<title>Fleet PADs</title>
</head>
<body>
<table border="1">
<tr>
<th>ID</th>
<th>Name</th>
<th>Status</th>
</tr>
{{#each cabinets}}
<tr><td>{{id}}</td><td>{{name}}</td><td>{{status}}</td></tr>
{{/each}}
</table>
</body>
</html>